@charset "utf-8";

/* common */
html {
  font-size: 10px;
  --main-orange: #DB6923;
  --main-blue: #2156A4;
  --main-green: #365E3C;
  position: relative;
  height: 100%;
}
body {
  font-family: "Noto Sans KR", 'Pretendard', '맑은 고딕', sans-serif;
  color: #222;font-size: 1.6rem; margin: 0; padding: 0;
}
section {padding: 8rem 0;}
main {padding: 0 10rem;}
.big-txt {font-size: 2rem; font-weight: bold;}
.small-txt {font-size: 1.4rem;}
section .section-txt {
  display: flex; flex-direction: row; gap: 2rem; align-items: end; padding: 5rem 0;
}
section .section-txt h2 {
  font-size: 2.4rem; color: var(--main-blue); font-weight: bold;
}
section .section-txt p {
  font-size: 1.4rem; color: var(--main-blue);
}
.smallAlpha-txt {color: #22222254;}

/* header */

#header {
  background: #f0cece;
  position: fixed; width: 100%; top: 0;z-index: 1000;
}
#header .container {
  display: flex; flex-direction: row; justify-content: space-between; align-items: center; gap: 5rem; height: 10rem; padding: 0 6rem;
}
#header h1 a {
  display: block; width: 17.4rem; height: 4rem;
  background: url(../img/logo/main-logo.png);
  background-size: 100% auto;
}

#gnb .dep1 li {display: flex; gap: 5rem;}
#gnb .dep1 li a {font-size: 1.6rem;}
#gnb .dep1 li .dep2 {display: none;}
/* 클릭하면 dep 2 열기 */


#header .utill {display: flex; gap: 30px;font-size: 1.6rem; font-weight: bold;}
#header .utill .lang-wrap button>span::after{
  content: "\EA4E";font-family: 'remixicon';
}
#header .utill .lang-wrap ul {
  display: none;
}

/* main visual */
#main-visual {display: block;}
#main-visual video {width: 90vw; height: 90vh;}

/* main info */
#main-info {
  display: flex; justify-content: space-around; gap: 4rem;
  flex-grow: 1; flex-shrink: 1;
}
#main-info .time-closeday strong {color: var(--main-blue);}
#main-info > div {
  width: calc(25% - 3rem); height: 40rem; border-radius: 2rem;
  overflow: hidden;
}
#main-info .time-closeday {
  border: 1px solid var(--main-orange);
  display: flex; flex-direction: column; gap: 6rem; justify-content: center; align-items: center; text-align: center;
}
#main-info .maininfo-btn>a {
  background: var(--main-orange); 
  width: 100%; height: 100%; color: #fff; 
  display: flex; flex-direction: column; gap: 6rem; justify-content: center; align-items: center; text-align: center; 
}
#main-info strong {font-size: 3rem; font-weight: bold;}
#main-info>div .txt-box {
  display: flex; flex-direction: column;
}
#main-info>div .txt-box span {line-height: 3rem;}

/* 특별전시 css */

#spacial-exhibititon .swiper {width: 100%;}

#spacial-exhibititon .swiper-slide {
  display: flex;flex-direction: column; gap: 2rem;
  justify-content: flex-start;
  align-items: center;
  position: relative;  
  height: 70vh;
  text-align: center;
}
#spacial-exhibititon .exhi-label {
  position: absolute;left: 0;top: 0px; padding: 1rem;
  background: var(--main-orange); color: #fff; font-weight: bold;
  font-size: 1.6rem;
}
#spacial-exhibititon  .exhi-progress {
  position: absolute;left: 0;top: 0px; padding: 1rem;
  background: #fff; color: var(--main-orange); font-weight: bold; font-size: 1.6rem; border: 1px solid rgba(0,0,0,0.1); 
}

#spacial-exhibititon  .exhi-poster {
  width: 100%;height: 80%;
  margin-bottom: 2rem;
  border-radius: 1.5rem;overflow: hidden;
  border: 1px solid rgba(0,0,0,0.1);
}

#spacial-exhibititon .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#spacial-exhibititon .swiper-slide .exhi-txt {
  display: flex; flex-direction: column; font-weight: bold; gap: 2rem;
}
#spacial-exhibititon .swiper-slide .exhi-txt .exhi-title {
  color: var(--main-orange); font-size: 2rem;
}
#spacial-exhibititon .swiper-slide .exhi-txt .exhi-date {
  font-size: 1.4rem;
}

.swiper .swiper-pagination {
  position: absolute;
  bottom: 0 !important;
}
.swiper .swiper-pagination-bullet {
  background-color: var(--main-blue);
  margin: 0 0.5rem !important;
}



/* 전시안내 */

#exhibition-info .room-li {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

#exhibition-info .room-li li a{
  display: flex; flex-direction: row;
  justify-content: center; align-items: center;
  text-align: left; height: 30rem;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 2rem; overflow: hidden;
}

#exhibition-info .card-img {
  width: 70%; height: 100%;
  /* border: 1px solid green; */
}
#exhibition-info .card-img img {
  width: 100%; height: 100%;
  object-fit: cover;
  display: block;
}

#exhibition-info .card-txt {
  width: 30%; height: 100%;
  display: flex; flex-direction: column; align-items: flex-start; justify-content: space-between;
  padding: 2rem 3rem;
  position: relative;
  background: url(/img/stone-pagoda2.png) 80px 10px / 100% no-repeat;
  /* border: 1px solid orange; */
}

#exhibition-info .card-txt .card-title{
  display: flex; flex-direction: column; justify-content: flex-start; gap: 0.8rem;
}
#exhibition-info .card-txt .card-title strong {
  font-weight: bold;
}

#exhibition-info .card-txt .card-title span {
  color: var(--main-orange);
}

#exhibition-info .card-txt .card-moreinfo::after {
  content: "\F2E5";font-family: 'remixicon';
}

/* 교육&행사 */
#edu-event .edu-cont {
  display: flex; flex-direction: row; gap: 4rem
  ;
}
#edu-event .edu-poster {
  width: 30%; max-height: 70vh;
  overflow: hidden;
}
#edu-event .edu-poster img {
  width: 100%; height: 100%; object-fit: contain;
}


/* 달력 */

#edu-event .edu-cont {gap: 4rem;}
#edu-event .year-month-cal {width: 70%; height: 70vh; gap: 20rem;}
#date {
  font-size: 2.4rem; padding: 2rem 5rem;
  display: flex; justify-content: center; gap: 5rem;
  list-style-type: none; background: var(--main-orange);
  font-weight: bold; color: #fff;
}
#edu-event .cal-date {padding: 0; width: 100%;}

#sched_tbl {
  border: 1px solid var(--main-orange);
  border-top: 2px solid var(--main-orange);
  border-collapse: collapse; width: 100%; margin: 0;
}
#sched_tbl td:nth-child(2) {color: red;}
#sched_tbl button {
  border-radius: 2rem; text-align: center; font-weight: 800;
  font-size: 1.2rem; background: rgb(160, 204, 158);
  display: block; width: auto; color: #222;
  margin: 1rem 0; padding: 0.5rem 1rem;
}
#sched_tbl .closed-day {
  background: red; color: #fff;font-weight: normal;
}

#sched_tbl #day {
  text-align: left;
  background-color: #f8f9f2;
  font-weight: bold; text-align: center;
}
#sched_tbl #day th {
  height: 5rem; border: 1px solid var(--main-orange);
}
/* #sched_tbl #day th:first-child {color: red;} */
#sched_tbl tbody tr {height: 11rem; text-align: left;}
#sched_tbl tbody td {
  border: 1px solid var(--main-orange);
  vertical-align: top; width: 10rem; padding: 1rem;
}


/* 홍보영상 */

#video-ads .video-part {display: flex; flex-direction: column; gap: 4rem;}
#video-ads .video-tab {
  display: flex; flex-direction: row; justify-content: flex-start; 
  gap: 10rem; color: var(--main-blue);
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--main-orange);
}
#video-ads .video-tab button {font-size: 2rem;}


#video-ads .video-contents .swiper {width: 100%; height: 60rem;}

#video-ads .swiper-slide {
  text-align: center;
  display: flex; justify-content: center; align-items: center;
  overflow: hidden;
}

#video-ads .swiper-slide iframe {
  display: block; width: 100%; height: 100%; object-fit: contain;
}

#video-ads .video-contents .content-2 {display: none;}
#video-ads .video-contents .content-3 {display: none;}
#video-ads .video-contents .content-4 {display: none;}
#video-ads .video-contents .content-5 {display: none;}

/* 공지사항 */
#notice-board {display: flex; justify-content: center;}
#notice-board .notice-btn {
  width: 30vw; height: auto; padding: 2rem;
  display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start;
}
#notice-board .notice-btn button {
  padding: 1.5rem;
  font-size: 2.4rem; color: var(--main-blue); margin-bottom: 4rem;
}

#notice-board .notice-list-1 {width: 80vw; padding-left: 2rem;}
#notice-board .notice-list-1 ul{
  font-size: 1.6rem; display: flex; 
  flex-direction: column; justify-content: flex-start; align-items: flex-start; 
}
#notice-board .notice-list-1 ul li {
  width: 65vw; border-top: 1px solid rgba(0,0,0,0.3);
}
#notice-board .notice-list-1 ul li:first-child {border-top: none;}
#notice-board .notice-list-1 ul div a {
  display: flex; flex-direction: row; justify-content: space-between;
  margin: 2rem; padding: 2rem;
}
#notice-board .notice-list-2 {display: none;}

/* footer */
#footer {
  background: #c4c4c4;
  padding: 2rem 10rem; border-top: 1px solid #2222224d; gap: 2rem;
}
#footer .footer-top {
  display: flex; flex-direction: row; justify-content: space-between; align-items: center; padding-bottom: 2rem;
}
#footer .footer-top .footer-link {display: flex; gap: 2rem;}
#footer .footer-top .footer-sns {
  display: flex; font-size: 2.6rem; align-items: center; justify-content: center; text-align: center; gap: 1.5rem;
}
#footer .footer-top .footer-sns img {filter: opacity(0.9);}

#footer .footer-bottom {
  padding: 2rem 0; 
  display: flex; justify-content: space-between;
  gap: 2rem;
  border-top: 1px solid #2222224d;
}
#footer .footer-bottom .footer-bottom-left {
  display: flex; flex-direction: column;
  gap: 1rem; font-size: 1.4rem;
}
#footer .footer-bottom .footer-bottom-left address {
  display: flex; gap: 2rem;
}
#footer .footer-bottom .footer-bottom-left address span {font-weight: 500;}