/* common */

html {
font-size: 10px;
--main-orange: #DB6923;
--main-blue: #2156A4;
--main-green: #365E3C;
--main-beige:#CAA27F;
position: relative;
height: 100%;
}
body {
font-family: "Noto Sans KR", 'Pretendard', '맑은 고딕', sans-serif;
color: #222;font-size: 1.6rem; margin: 0; padding: 0; word-break: keep-all;
}

section {
  padding: 6rem 0;
  margin-bottom: 6rem; 
  height: 80vh; overflow: visible;
  min-height: 700px; display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 1150px) {
  section {padding: 4rem 0; height: 40vh;}
}
@media screen and (max-width: 1024px) {
  section {
    height: 60vh; min-height: 520px;    margin-bottom: 4rem; padding: 4rem 0;
  }
}

@media screen and (max-width: 768px) {
  section {
    margin-bottom: 3rem; padding: 3rem 0;
  }
}

@media screen and (max-width: 767px) {
  section {
    height: 50vh; min-height: 420px;
  }
}

@media screen and (min-width: 0px) and (max-width: 550px) {
  section {padding: 2rem 0;height: 25vh;}
}

section > * {
  max-height: 100%; margin: 0 auto;
}

section hgroup div h3 {
  font-size: 4rem; font-weight: bold;
}
section hgroup div h4 {
  font-size: 2.5rem;
  font-weight: 300; letter-spacing: 1rem;
}
@media screen and (max-width: 890px) {
  section hgroup div h3 {font-size: 3rem;}
  section hgroup div h4 {font-size: 2rem; letter-spacing: 0.5rem;}
}



section .section-txt {
  display: flex; flex-direction: row; gap: 2rem; align-items: end; padding: 5rem 0;
}
@media screen and (max-width: 700px) {
  section .section-txt {
    flex-direction: column; align-items: start;
    gap: 2rem; padding: 2rem 0;
  }
}
@media screen and (min-width: 0px) and (max-width: 550px) {
  section .section-txt {gap: 1rem;}
}

section .section-txt h2 {
font-size: 2.4rem; color: var(--main-blue); font-weight: bold;
}
section .section-txt p {
font-size: 1.4rem; color: var(--main-blue);
}
@media screen and (max-width: 950px) {
  section .section-txt h2 {font-size: 2rem;}
  section .section-txt p {font-size: 1.2rem;}
}
@media screen and (min-width: 0px) and (max-width: 550px) {
  section .section-txt h2 {font-size: 1.4rem;}
  section .section-txt p {font-size: 1rem;}
}

main {padding: 10rem 10rem 5rem 10rem;}
@media screen and (max-width: 950px) {
main {padding: 5rem 5rem 0 5rem;}
} 
@media screen and (min-width: 0px) and (max-width: 550px) {
  main {padding: 2rem 2.5rem 0rem 2.5rem;}
}

.big-txt {font-size: 2rem; font-weight: bold;}
.small-txt {font-size: 1.4rem;}
.smallAlpha-txt {color: #22222254;}


/* 메인 */
.main-img > img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .main-img > img {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 768px) {
  .main-img > img {
    margin-top: 6rem;
  }
}
@media screen and (max-width: 1202px) {
  .main-img>img {margin-top: 10rem;}
}
@media screen and (min-width: 0px) and (max-width: 550px) {
  .main-img>img {margin-top: 5rem;}
}


#sub-tab {
  display: flex; flex-direction: column; gap: 10rem; padding-bottom: 3rem;
}
#sub-tab h3{
  font-size: 4rem; color: var(--main-orange);
  text-align: center; font-weight: bold;
}

#sub-tab .sub-tab-list ul{
  display: flex; justify-content: space-between; padding: 0;
  border-bottom: 1px solid var(--main-orange);
}

#sub-tab .sub-tab-list li {
  position: relative; padding-bottom: 2rem;
}
#sub-tab .sub-tab-list a {
  font-size: 2rem; white-space: nowrap; display: block;
}
@media screen and (max-width: 1020px) {
  #sub-tab {gap: 5rem;}
  #sub-tab h3 {font-size: 3rem;}
  #sub-tab .sub-tab-list a {font-size: 1.6rem;}
}
@media screen and (max-width: 770px) {
  #sub-tab .sub-tab-list ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #sub-tab .sub-tab-list li.active::after {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  #sub-tab .sub-tab-list a {font-size: 1.2rem;}
}
@media screen and (min-width: 0px) and (max-width: 550px) {
  #sub-tab h3 {font-size: 2rem;}
  #sub-tab .sub-tab-list a {font-size: 1rem;}
}

/* 활성화 탭 */
#sub-tab .sub-tab-list li.active a {
  color: var(--main-orange); font-weight: bold;
}

#sub-tab .sub-tab-list li.active::after {
  content: ''; position: absolute; bottom: -1px; left: 0;
  width: 100%; height: 3px;
  background-color: var(--main-orange);
  border-radius: 2px 2px 0 0;
}

/* @media screen and (max-width: 768px) {
  #sub-tab {gap: 2rem;}
  #sub-tab .sub-tab-list ul {
    overflow-x: auto;
    padding-bottom: 0.5rem;
  }
}

@media screen and (max-width: 550px) {
  #sub-tab .sub-tab-list ul {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr)); row-gap: 0.5rem;
  }

  #sub-tab .sub-tab-list li {
    padding-bottom: 1rem;
  }
} */

@media screen and (min-width: 0px) and (max-width: 499px) {
  #sub-tab .sub-tab-list li.active::after {
    display: none;
  }
}


/* 비젼 */
#vision {
  width: 100%; background: url(../img/con3_bg.jpg) no-repeat center center; background-size: cover;
  display: flex; justify-content: center;
  align-items: center;
}

#vision .container {
  filter: drop-shadow(2px 4px 6px black);
  text-align: center; color: #fff;
}

#vision .split {
  display: flex; flex-direction: column; 
  justify-content: center; align-items: center;
  gap: 10rem;
}

@media screen and (max-width: 1024px) {
  #vision {
    padding: 6rem 2rem;
    background-position: center;
  }
  #vision .split {gap: 6rem;}
}

@media screen and (max-width: 768px) {
  #vision {padding: 4rem 1.5rem;}
  #vision .split {gap: 3rem;}
}

/* main-value */
#main-value{
  background: url(../img/con5_bg.png) no-repeat left/ cover;
  width: 100%; display: flex; flex-direction: column;
  align-items: center; position: relative;
  overflow: hidden; padding-block: clamp(4rem, 8vh, 10rem);
  gap: clamp(3rem, 6vh, 8rem); min-height: 100vh;
}

#main-value > hgroup{
  position: relative; z-index: 10; color: #fff;
  filter: drop-shadow(8px 10px 8px black);
}

#main-value .value-list{
  --circle: min(360px, 21vw); width: 100%;
  max-width: 100%; height: var(--circle);
  position: relative; display: flex;
  justify-content: center; align-items: center;
  box-sizing: border-box;
}

#main-value .value-list .value{
  width: var(--circle); height: var(--circle);
  max-width: 100%; max-height: 100%;
  border-radius: 50%; position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0; transition: opacity 0.2s;
}

#main-value .value-list .value span{
  position: relative; z-index: 1; display: flex;
  justify-content: center; align-items: center;
  height: 100%; color: #fff; font-weight: 600;
  font-size: 3rem; letter-spacing: 1rem;
}

/* colors */
#main-value .value-list .v1{
  background: var(--main-beige);
}
#main-value .value-list .v2{
  background: var(--main-green);
}
#main-value .value-list .v3{
  background: var(--main-blue);
}
#main-value .value-list .v4{
  background: var(--main-orange);
}

@media (max-width: 1200px){
  #main-value{ padding: 3rem 1.5rem; gap: 2rem;}

  #main-value .value-list{
    height: auto; position: static; 
    flex-direction: column; gap: 1.8rem;
  }

  #main-value .value-list .value{
    position: static; transform: none !important;
    opacity: 1 !important; width: 80%;
    height: auto; border-radius: 999px;
  }

  #main-value .value-list .value span{
    padding: 1.4rem 0; font-size: 1.8rem;
    letter-spacing: 0.3rem;
  }
}

@media (max-width: 1024px){
  #main-value{padding: 4rem 2rem;}
  #main-value .value-list .value span{
    font-size: 2rem; letter-spacing: 0.5rem;
  }
}

@media (max-width: 480px){
  #main-value .value-list .value{ width: 100%; }
  #main-value .value-list .value span{
    font-size: 1.6rem; letter-spacing: 0.1rem;
  }
}



/* 전략 */

#strategy {
  width: 100%;
  background: url(../img/con6_bg.png) no-repeat center center/cover;
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;
  gap: 2rem; padding: 2rem; box-sizing: border-box; overflow: hidden;
}

#strategy hgroup h3 {
  filter: drop-shadow(2px 4px 6px black);
  padding: 2rem; margin-bottom: 1rem;
  color: white; 
}

.strategy-list ul {display: flex; gap: 2rem;}

.strategy-list li {
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
  color: #fff; border-radius: 1rem;
  padding: 6rem 0rem; cursor: pointer; 
  display: flex; flex-direction: column; justify-content: space-between;
  align-items: flex-start; overflow: hidden;
  gap: 2rem; letter-spacing: 0.3rem;
  width: 11rem; height: 50rem;
  background: #9abff8; transition: all 0.4s ease-in-out;
}

.strategy-list li.active {
  background-color: var(--main-blue); width: 25rem; padding: 5rem;
}
.strategy-list li.active .strategy-list li .str-list-txt{
  text-align: center; width: 100%; height: auto; display: flex;
  justify-content: space-between; align-items: center;
}

.strategy-list li .str-list-txt {
  display: flex; flex-direction: column; justify-content: flex-start; gap: 6rem;
  align-items: center; text-align: center; width: 100%; height: 80%;
}

.strategy-list li .str-list-txt strong {
    font-size: 4rem; font-weight: bold; margin-bottom: 1rem; display: block;
}

.strategy-list li .str-list-txt p {
    font-size: 2rem; margin-top: 1rem; opacity: 0;
    max-height: 0; transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.strategy-list li.active .str-list-txt p, .strategy-list li.active .str-list-txt p span {
  opacity: 1; max-height: 200px; transition-delay: 0.1s; line-height: 2;
}

.strategy-list li .str-list-txt p span {
  display: block; font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .strategy-list ul {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .strategy-list li {
    height: 5rem; min-height: none; width: 80rem; padding: 3rem;
  }
  .strategy-list li.active {
    background-color: var(--main-blue); width: 80rem; padding: 5rem;
  }
}

@media screen and (max-width: 1024px) {
  #strategy {padding: 4rem 2rem;}

  .strategy-list ul {
    flex-wrap: wrap; gap: 1.5rem;
  }

  .strategy-list li {
    width: calc(50% - 1rem);
    height: auto; padding: 3rem 2rem;
  }

  .strategy-list li.active {
    width: calc(50% - 1rem);
    padding: 3rem 2rem;
  }

  .strategy-list li .str-list-txt {
    gap: 3rem; height: auto;
  }

  .strategy-list li .str-list-txt p {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 768px) {
  #strategy {
    padding: 3rem 1.5rem;
  }

  .strategy-list ul {
    /* flex-direction: column; */
  }

  .strategy-list li,
  .strategy-list li.active {
    width: 100%; padding: 2.4rem 2rem;
  }

  .strategy-list li .str-list-txt {
    gap: 2rem;
  }

  .strategy-list li .str-list-txt strong {
    font-size: 3rem;
  }

  .strategy-list li .str-list-txt p {
    font-size: 1.4rem;
  }
}


/* 성과목표 */

#performance-goals {
  width: 100%;
  /* border: 1px solid #000; */
  display: flex; flex-direction: column; align-items: center; 
  gap: 10rem;
}

#performance-goals hgroup{
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
  color: #222;
}

#performance-goals .per-goals-list {
  display: flex; flex-direction: row;
  justify-content: space-between; align-items: center; width: 100%;
}

.per-goals-list>li {
  color: white; font-size: 1.8rem; font-weight: 500;
  border-radius: 2rem;
  width: 21vw; height: 60vh;
  display: flex; flex-direction: column; justify-content: center; align-items: center;
  gap: 0vh;
  transition: box-shadow 0.4s ease, transform 0.4s ease;
  position: relative;
  overflow: hidden;
}

.per-goals-list > li::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0); 
  transition: background 0.5s ease;
  z-index: 0;
}
.per-goals-list > li.active::before,
.per-goals-list > li:hover::before {
  background: rgba(0, 0, 0, 0.5);
}
.per-goals-list>li img {
  padding: 1.5rem; background: rgba(255, 255, 255, 0.7);
  width: 6vw; height: auto; border-radius: 2rem;
  transition: transform 0.5s ease;
}

.per-goals-list > li p {
  opacity: 0;
  transform: translateY(1rem);
  transition: opacity 0.5s ease, transform 0.5s ease;
  text-align: center;
  line-height: 0;
  pointer-events: none;
  margin-top: 2rem;
  font-size: 0;
}
.per-goals-list > li.active img,
.per-goals-list > li:hover img {
  transform: translateY(-1rem);
}

.per-goals-list > li.active p,
.per-goals-list > li:hover p {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
  line-height: 3rem;
}

.per-goals-list > li.active,
.per-goals-list > li:hover {
  box-shadow: 10px 5px 25px rgba(0, 0, 0, 0.3);
  transform: translateY(-0.5rem);
  gap: 3vh;
}

.glist1 {
  background-image: url(../img/Goal/goal01.jpg); 
  background-size: auto 100%; background-repeat: no-repeat;
  background-position: center;
}
.glist2 {
  background-image: url(../img/Goal/goal02.jpg); 
  background-size: auto 100%; background-repeat: no-repeat;
  background-position: center;
}
.glist3 {
  background-image: url(../img/Goal/goal03.jpg); 
  background-size: auto 100%; background-repeat: no-repeat;
  background-position: center;
}
.glist4 {
  background-image: url(../img/Goal/goal04.jpg); 
  background-size: auto 100%; background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1200px) {
  #performance-goals {
    gap: 6rem; padding: 4rem 2rem;
  }

  #performance-goals .per-goals-list {
    flex-wrap: wrap; gap: 2rem;
  }

  .per-goals-list > li {
    width: calc(50% - 1rem); height: 40vh;
  }

  .per-goals-list > li img {width: 8rem;}
}

@media screen and (max-width: 768px) {
  #performance-goals {
    gap: 4rem; padding: 3rem 1.5rem;
    border: none; /* 모바일에서 테두리 눈에 많이 띄면 제거 */
  }

  #performance-goals .per-goals-list {
    flex-direction: column; 
    flex-wrap: nowrap;
  }

  .per-goals-list > li {
    width: 100%; height: auto;
    min-height: 260px;
  }

  .per-goals-list > li img {width: 7rem;}

  .per-goals-list > li.active p,
  .per-goals-list > li:hover p {
    font-size: 1.6rem; line-height: 2.4rem;
    letter-spacing: 0.1rem;
  }
}

@media screen and (max-width: 480px) {
  .per-goals-list > li img {width: 6rem;}

  .per-goals-list > li.active p,
  .per-goals-list > li:hover p {
    font-size: 1.4rem;
  }
}