/* common */

html {
font-size: 10px;
--main-orange: #DB6923;
--main-blue: #2156A4;
--main-green: #365E3C;
--main-beige:#CAA27F;
position: relative;
height: 100%;
}
body {
font-family: "Noto Sans KR", 'Pretendard', '맑은 고딕', sans-serif;
color: #222;font-size: 1.6rem; margin: 0; padding: 0;
word-break: keep-all;
}
section {margin-bottom: 6rem;}

main {padding: 10rem 10rem 0 10rem;}
@media screen and (max-width: 950px) {
main {padding: 10rem 5rem 0 5rem;}
} 

.big-txt {font-size: 2rem; font-weight: bold;}
.small-txt {font-size: 1.4rem;}
section .section-txt {
display: flex; flex-direction: row; gap: 2rem; align-items: end; padding: 5rem 0;
}
section .section-txt h2 {
font-size: 2.4rem; color: var(--main-blue); font-weight: bold;
}
section .section-txt p {
font-size: 1.4rem; color: var(--main-blue);
}
.smallAlpha-txt {color: #22222254;}


/* 메인 */
.main-img>img {
    display: block;width: 100%;
}
#main {padding-bottom: 5rem;}

#sub-tab {display: flex; flex-direction: column; gap: 4rem; padding-bottom: 2.5rem;}
#sub-tab h3{
    font-size: 2.4rem; color: var(--main-orange);
    text-align: center; font-weight: bold;
}

#sub-tab .sub-tab-list ul{
    display: flex; justify-content: space-between; padding: 0;
    border-bottom: 1px solid var(--main-orange);
}

#sub-tab .sub-tab-list li {position: relative; padding-bottom: 2rem;}
#sub-tab .sub-tab-list a {font-size: 1.6rem; white-space: nowrap; display: block;}

@media screen and (max-width: 1020px) {
    #sub-tab .sub-tab-list a {font-size: 1.4rem;}
}
@media screen and (max-width: 580px) {
    #sub-tab .sub-tab-list a {font-size: 1.2rem;}
}

/* 활성화 탭 */
#sub-tab .sub-tab-list li.active a {
    color: var(--main-orange); font-weight: bold;
}

#sub-tab .sub-tab-list li.active::after {
    content: ''; position: absolute; bottom: -1px; left: 0;
    width: 100%; height: 3px; background-color: var(--main-orange);
    border-radius: 2px 2px 0 0;
}



#vision {
  margin-top: 6rem;
  width: 100%; height: 70vh;
  background: url(../img/con3_bg.jpg) no-repeat center center; background-size: cover; display: flex; justify-content: center; align-items: center;
  
}

#vision .container {
  filter: drop-shadow(2px 4px 6px black);
  text-align: center; color: #fff;
}

#vision .split {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

#vision .container h3 {
  font-size: 4rem;
  font-weight: bold;
}

#vision .container h4 {
  font-size: 2.5rem;
  font-weight: 300; letter-spacing: 1rem;
}



/* main-value */
#main-value {
  background-image: url(../img/con5_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; height: 80vh;
  display: flex; flex-direction: column; 
  align-items: center; gap: 30rem;
  padding: 12rem;
}

#main-value>hgroup {
  filter: drop-shadow(8px 10px 8px black);
  font-size: 4rem; font-weight: bold; color: white;
} 
#main-value .value-list {
  font-size: 2.4rem;
  display: flex; flex-direction: row;justify-content: center; align-items: center;
  position: relative; width: 100%;
}
#main-value .value-list .value {
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
  width: 18%;
  aspect-ratio: 1/1; border-radius: 50%;
  position: absolute; left: 50%; top: 50%;transform: translate(-50%, -50%) scale(0); opacity: 0;
  transition: opacity 0.2s;
}
#main-value .value-list .value span {
  letter-spacing: 1rem;
  position: relative; z-index: 10; display: flex;justify-content: center;align-items: center;height: 100%;
  color: #fff; font-weight: 600; font-size: 3rem;
}
#main-value .value-list .v1 {opacity: 1;}

#main-value .value-list .v1 {background: var(--main-beige);}
#main-value .value-list .v2 {background: var(--main-green);}
#main-value .value-list .v3 {background: var(--main-blue);}
#main-value .value-list .v4 {background: var(--main-orange);}


/* 전략 */

#strategy {
    width: 100%;height: 80vh;
    background: url(../img/con6_bg.png) no-repeat center center/cover;
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
    gap: 2rem; padding: 2rem; box-sizing: border-box; overflow: hidden;
}

#strategy hgroup h3 {
  filter: drop-shadow(2px 4px 6px black);
  padding: 2rem;
  color: white; font-size: 4rem; margin-bottom: 1rem;font-weight: bold;
}


.strategy-list ul {display: flex; gap: 2rem;}

.strategy-list li {
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
  color: #fff; border-radius: 1rem;
  padding: 6rem 0rem; cursor: pointer; 
  display: flex; flex-direction: column; justify-content: space-between;
  align-items: flex-start; overflow: hidden;
  gap: 2rem; letter-spacing: 0.3rem;
  width: 11rem; height: 50rem;
  background: #9abff8; transition: all 0.4s ease-in-out;
}

.strategy-list li.active {
  background-color: var(--main-blue); width: 25rem; padding: 5rem;
}
.strategy-list li.active .strategy-list li .str-list-txt{
  text-align: center; width: 100%; height: auto; display: flex;
  justify-content: space-between; align-items: center;
}

.strategy-list li .str-list-txt {
  display: flex; flex-direction: column; justify-content: flex-start; gap: 6rem;
  align-items: center; text-align: center; width: 100%; height: 80%;
}

.strategy-list li .str-list-txt strong {
    font-size: 4rem; font-weight: bold; margin-bottom: 1rem; display: block;
}

.strategy-list li .str-list-txt p {
    font-size: 2rem; margin-top: 1rem; opacity: 0;
    max-height: 0; transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.strategy-list li.active .str-list-txt p, .strategy-list li.active .str-list-txt p span {
  opacity: 1; max-height: 200px; transition-delay: 0.1s; line-height: 2;
}

.strategy-list li .str-list-txt p span {
  display: block; font-weight: bold;
}

/* 성과목표 */

#performance-goals {
  padding: 6rem 0 0 0;
  width: 100%; height: 80vh;
  display: flex; flex-direction: column; align-items: center; gap: 10rem;
}

#performance-goals hgroup{
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
    font-size: 4rem; font-weight: bold; color: #222;
}

#performance-goals .per-goals-list {
    display: flex; flex-direction: row;
    justify-content: space-between; align-items: center; width: 100%;
}

.per-goals-list>li {
  color: white; font-size: 1.8rem; font-weight: 500;
  border-radius: 2rem;
  width: 21vw; height: 60vh;
  display: flex; flex-direction: column; justify-content: center; align-items: center;
  gap: 0vh;
  transition: box-shadow 0.4s ease, transform 0.4s ease;
  position: relative;
  overflow: hidden;
}

.per-goals-list > li::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0); 
  transition: background 0.5s ease;
  z-index: 0;
}
.per-goals-list > li.active::before,
.per-goals-list > li:hover::before {
  background: rgba(0, 0, 0, 0.5);
}
.per-goals-list>li img {
  padding: 1.5rem; background: rgba(255, 255, 255, 0.7);
  width: 6vw; height: auto; border-radius: 2rem;
  transition: transform 0.5s ease;
}

.per-goals-list > li p {
  opacity: 0;
  transform: translateY(1rem);
  transition: opacity 0.5s ease, transform 0.5s ease;
  text-align: center;
  line-height: 0;
  pointer-events: none;
  margin-top: 2rem;
  font-size: 0;
}
.per-goals-list > li.active img,
.per-goals-list > li:hover img {
  transform: translateY(-1rem);
}

.per-goals-list > li.active p,
.per-goals-list > li:hover p {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
  line-height: 3rem;
}

.per-goals-list > li.active,
.per-goals-list > li:hover {
  box-shadow: 10px 5px 25px rgba(0, 0, 0, 0.3);
  transform: translateY(-0.5rem);
  gap: 3vh;
}

.glist1 {
  background-image: url(../img/Goal/goal01.jpg); 
  background-size: auto 100%; background-repeat: no-repeat;
  background-position: center;
}
.glist2 {
  background-image: url(../img/Goal/goal02.jpg); 
  background-size: auto 100%; background-repeat: no-repeat;
  background-position: center;
}
.glist3 {
  background-image: url(../img/Goal/goal03.jpg); 
  background-size: auto 100%; background-repeat: no-repeat;
  background-position: center;
}
.glist4 {
  background-image: url(../img/Goal/goal04.jpg); 
  background-size: auto 100%; background-repeat: no-repeat;
  background-position: center;
}